body {
	font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    max-width: 1400px;
    margin: auto;
}

#menu {
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding: 20px 20px 10px;
    z-index:100;
    background-color: #1b1f23;
    box-shadow: 0px 5px 5px #88888895;
}

.firmwareSelector input[type="radio"], .slicerSelector input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.firmwareSelector label, .slicerSelector label {
    display: inline-block;
    background-color: #ddd;
    padding: 8px 20px;
    font-size: 16px;
    font-weight:bold;
    border: 2px solid #444;
    border-radius: 6px;
    margin:0;
    cursor:pointer;
}

.firmwareSelector input[type="radio"]:checked + label, .slicerSelector input[type="radio"]:checked + label {
    background-color:#00c5ae31;
    border-color: #00c5ad;
    font-weight:bolder;
}

#menu img {
    max-height:2.5em;
    margin-bottom:-14px;
}

#menu a.currentPage {
    color: #00c5ad;
    font-weight:bolder;
    border-bottom: 4px solid #00c5ae25
}

#menu a:hover {
    color: #00c5ad;
    font-weight:bolder;
}

#menu a {
    display:inline-block;
    padding:5px 5px 10px;
    margin: 0 15px 5px;
    color:white;
    font-weight: bold;
}

h1 {
    margin: 20px 20px;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 1.8em;
    margin: 10px 20px;
}

h3 {
    margin: 5px 20px;
}

h4 {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 20px 20px 5px;
    padding: 5px 10px;
    color:white;
    background-color: #00c5ad;
}

h5 {
    margin: 20px;
    font-weight: bolder;
    font-size: 1.4em;
}

h6 {
    font-size: 1.4em;
    font-weight: bolder;
    margin: 20px 20px 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

p {
    margin: 10px 20px 20px;
    line-height: 1.5em;
}

textarea {
    display: block;
    margin: 0 20px;
    width: 90%;
    font-size: 1.4em;
}

table.head {
    border-collapse: collapse;
    border: none;
}

table.head td {
    border: none;
    padding: 0;
}

#header h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
}

table.sponsor {
    border-collapse: collapse;
}

table.sponsor img {
    max-width: 300px;
    margin: 20px;
}

table.sponsor td {
    border:none;
}

table.contact {
    border-collapse: collapse;
    margin: 0 20px;
}

table.contact td {
    border:none;
}

table.contact textarea {
    margin: 0;
    padding: 10px;
}

table.contact input {
    padding: 10px;
}

input {
    font-size: 1.2em;
}

input[type="checkbox" i] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin: 20px;
}

input[type="radio" i] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin: 20px;
}

input[type="button" i] {
    border: 1px solid #00c5ad;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
}

select {
    font-size: 1.2em;
}

label {
    margin: 20px 20px;
    font-size: 1.2em;
}

pre {
    background-color: rgb(230, 230, 230);
    margin-left: 20px;
    font-size: 1.2em;
    padding: 10px;
}

b {
    background-color: rgb(230, 230, 230);
    padding: 2px; 
}

a {
    color: #00c5ad;
    font-weight: bolder;
    text-decoration: none;;
}

li {
    line-height: 1.8em;
}

ol li {
    margin: 10px 0;
}

table {
    /*width: 100%;*/
    margin-bottom: 20px;
}
table input {
    margin:0;
}

th {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border: 1px solid grey;
}

td {
    padding: 10px;
    border: 1px solid grey;
}

iframe {
    margin: 0 20px 20px;
}

.warning {
    background-color: #ffcccc;
    border: 1px solid red;
    border-radius: 15px;
    padding: 20px;
}

.exp {
    background-color: rgb(230, 230, 230);
    padding: 1px 0;
    border-radius: 15px;
    border: 1px solid #00c5ad;
    margin-bottom: 20px;
}

.jdtd {
    display:none;
}

.zoom {
    float: right;
    position: relative;
    bottom: 60px;
}

.thumb {
    max-height: 240px;
    max-width: 600px;
    margin: 0 20px 20px 20px;
}

.startExp {
    border: 1px solid #00c5ad;
    margin: 5px 20px 20px;
    padding: 20px; 
}

#header {
    height: 4.0em;
    margin-bottom:20px;
}

.sug {
    color: green;
    font-weight: bolder;
    margin: 10px 0 0;
}

#up {
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 10;
    color:white;
    background-color: #1b1f23;
    border: white 2px solid;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000000;
}

#footer {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: #1b1f23;
    position: absolute;
    left: 0;
    right: 0;
}

#estepsresult {
    display: none;
    border: 5px solid #00c5ad;
    border-radius: 15px;
    font-size: 1.2em;
    margin: 20px 0;
}

#xyzstepsresult {
    display: none;
    border: 5px solid #00c5ad;
    border-radius: 15px;
    font-size: 1.2em;
    margin: 20px 0;
}

.result {
    border: 5px solid #00c5ad;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 20px;
}

#flow1result, #flow2result {
    display: none;
    border: 5px solid #00c5ad;
    border-radius: 15px;
    font-size: 1.2em;
}

.result {
    color: #00c5ad;
    font-weight: bolder;
}

#donate {
    float: right;
    color: white;
    padding: 0px 5px 10px;
    margin: 0 15px 5px;

}

#donate img {
    display: inline-block;
    margin-bottom:-14px;
}

.icon {
    max-width: 50px;
    max-height: 50px;
}

#tabs {
    margin: 20px 0;
}

.videoThumb {
    margin: 0 20px 20px;
}

#footer li {
    margin: 10px 30px;
    float: left;
}

.summary {
    display: inline-block;
    padding: 4px 10px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    margin: 2px 5px;
    font-size: 1.2em;
}

/* Tabs container */
.r-tabs {
	position: relative;

	background-color: #00c5ad;

	border-top: 1px solid #00c5ad;
	border-right: 1px solid #00c5ad;
	border-left: 1px solid #00c5ad;
	border-bottom: 4px solid #00c5ad;
	border-radius: 4px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #00c5ad;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #00c5ad;
	text-shadow: none;

	background-color: white;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;

	border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #00c5ad;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00c5ad;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Buttons */
button {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	line-height: 100%;

	color: #fff;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #00c5ad;
	box-shadow: 0px 3px 0px 0px #00ab94;
	
	cursor: pointer;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #00c5ad;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;

	cursor: pointer;
} 
